
.sideBar{
    
    position:fixed;
    width:330px;
    height:100%;
    background-color: rgb(115, 116, 116);
    box-shadow:1px;
    border-right:1px solid;
    border-bottom: 1px solid;
    padding:15px;
    padding-top:70px;
    
    
}
.sideBarShrink{
    width:20px;
}
.board{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.adminImg{
    width:120px;
    height:120px;
    margin-left:10px;
}
.backImg{
    width:30px;
    height:30px;
    margin-left:10px;
    cursor: pointer;
}
.dashboard{
    display:flex;
    flex-direction: row;
    width:280px;
    height:40px;
    padding:20px;
    background-color: rgb(253, 255, 255);
    border-radius:10px;
    opacity:0.9;
    cursor:pointer;
    margin-top:20px;

 
}
.navlink{
    text-decoration: none;
    color:black;
}
.dashboardTxt{
    font-size:16px;
    margin-left:20px;

}
a.active .dashboard{
   
    
    background-color:  rgb(205, 253, 252);

}
.navBarDiv{
    position:fixed;
    width:100%;
    height:50px;
    background-color:rgb(29, 29, 30);
    z-index:100;
    opacity:0.7;
 
    
}
.logoutBtn{
    margin-left:1350px;
    margin-top:10px;
    border-radius: 10px;
    width:100px;
    height:40px;
    background-color: rgb(249, 247, 247);
    color: rgb(36, 36, 36);
    cursor: pointer;
    z-index:100;
    opacity:1;
 
}
.logoutBtn:hover{
    background-color:black;
    color:white;
}

.dashboardDiv{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    
    position:absolute;
    top:70px;
    left:400px;
   gap:10px;
    

}
.ordersDiv{
 
    background: linear-gradient(135deg, #379187 0%,rgb(119, 156, 133) 100%);
    padding:20px;
    box-shadow:0px 0px 10px rgb(137, 137, 137);
    width:300px;
    height:200px;
    border-radius: 10px;
   
}
.modelsDiv{
    background-color: white;
    color:black;
     padding:20px;
    box-shadow:0px 0px 10px rgb(137, 137, 137);
    width:300px;
    height:200px;
    border-radius: 10px;
}
.modelTxt{
    color:black;
     font-size:24px;

}
.lengthModel{
    color:black;
      font-size:38px;
    text-align:center;

}
.ordersTxt{
    color:white;
    font-size:24px;

}
.lengthTxt{
        color:white;
    font-size:38px;
    text-align:center;
}
.infoTxt{
        color:white;
    font-size:18px;
}
.modelInfo{
     font-size:18px; 
}
.recentDiv{
    position:absolute;
    top:370px;
    left:400px;

    
}
.dateDiv{
    position:absolute;
    top:370px;
    right:70px;
    background-color: white;
    color:black;
     padding:20px;
    box-shadow:0px 0px 10px rgb(137, 137, 137);
    width:300px;
    height:280px;
    border-radius: 10px;
}
.timeDiv{
    background:linear-gradient(180deg, #9b9df3 100%,rgb(246, 111, 111) 70%);
    position:absolute;
    top:320px;
    left:1110px;
    color:black;
     padding:20px;
    box-shadow:0px 0px 10px rgb(137, 137, 137);
    width:300px;
    height:330px;
    border-radius: 10px;
}
.orderContent{
    display:flex;
    justify-content:space-between;
}
.orderImg{
   
    width:30px;
    height:30px;
}
.dayTxt{
    color:white;
    font-size:40px;
}
.timeTxt{
    color:white;
    font-size:32px;
}
.dateTxt{
    color:#75fa92;
    font-size:32px;
}