.carLink{
    cursor:pointer;
    color:rgb(98, 97, 97);
    text-decoration: none;
}
.carDiv{
  
}
.carImg{
    width: 300px; 
    height:300px;
    transition: transform 0.3s ease-in-out;
    
}
.carImg:hover{
    transform: scale(1.1); 
}
.carText1{
padding-top:1px;
padding-bottom:4px;
font-size:16px;
padding-left:32px;

}
.carText2{
    font:medium;
    font-size:16px;
 
    color:white;
}
.textDiv{
 background-color: rgb(116, 115, 115);
    width:50px;
    height:30px;
    margin-left:295px;
    margin-top:-70px;
    z-index:4;
    
  
   
}