body{
    background-color:#fcac93fd ;
}
.loginDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background-color:#fcac93fd;
   margin:0 auto;
   width:50%;
   padding:30px;
}
.loginForm{
    display:flex;
    flex-direction:column;
  
}
.loginForm input{
    padding:15px 30px;
    margin:15px auto;
    width:250px;
    border-radius:30px;
    border:1px white solid;
    outline: none;
}
.loginForm label{
    font-size:20px;
    color:white;
}
.loginBtn{
    height:50px;
    border-radius:30px;
    color:white;
    background-color:black;
    border:2px white solid;
    cursor:pointer;

}
.txtDiv{
    display:flex;
    justify-content: space-between;
    font-size:17px;
    color:white;
}
.txtparagraph{
    color:blue;
    cursor:pointer;
}
