.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(252, 162, 134, 0.942);
  height:70px;
  width:100%;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navlink {
  display: flex;
  flex-direction:column;
  align-items: center;
  text-decoration: none;
  color: rgb(51, 50, 50);
  padding: 0px 20px;
}

img {
  width: 36px;
}
.line {
  display:none;
  width:50%;
  list-style:none;
  display:none;
  color:red;
  margin-top:-7px;
}
a.active .line{
  display:block;
}
.cart{
  position:relative;
}
.icons{
  padding:10px;
  align-items:center;
}
.cartImg{
  width:26px;
  cursor:pointer;
  padding:0 20px;
}

.search{
width:26px;
padding:0 20px;
cursor:pointer; 
}
.user{
  padding:0 20px;
  width:26px;
  cursor:pointer;
}
.count{
  position:absolute;
  right:6px;
  top:-26px;
  width:18px;
  height:18px;
  background-color: rgb(141, 229, 161);
  border-radius: 50%;
  text-align: center;
}
.logo{
  width:70px;
}
.menuImg{
  width:30px;
  cursor:pointer;
  visibility: Hidden;
 
}
.mobileDiv{
  
 display:flex;
 flex-direction:column; 
 position:absolute;
 top:0px;
 bottom:0px;
 background-color: white;
 width:100%;
 padding:20px;
 z-index: 2;


}
.mobileHeading{
  color:black;
  text-decoration: none;
  cursor:pointer;
 
}

@media(max-width:800px){
  .navlink{
   display:none;
  }
 

  .logo{
    margin-left:10px;
  }
  .icons{
    display: flex;
    justify-content:flex-start;
  }
  .menuImg{
    visibility:visible;
    padding:10px;
    color:white;
   
  }
  .smallDiv{
    background-color: aqua;
  }
  
  
}

@media(max-width:1000px){

  .list{
    display:flex;
    padding:0px;
    margin-left:-10px;
  }
  .icons{
    display:flex;
    margin-left:-30px;
    
    
  }
  .navlink{
    padding:0px 10px;
  }
}
@media(max-width:1600px){
  .list{
    padding:0px;
    display:flex;
    margin-left:-15px;
    
  }
  .icons{
    padding:0px;
    display:flex;
  }
 
}