.explorDiv{
    display:flex;
    flex-direction:row;
    padding-top:10px;
  
    gap:1;
    padding:20px;
}
.filterBox{
    width:250px;
    background-color:  #fec1ae;
   padding:10px;
   margin-top:70px;
   height:470px;

}
.titleText{
    font-size:20px;
    margin-top:2px;
    display:flex;
    cursor: pointer;
    align-items:center;
    gap:2;
}
.category{
    border:1px solid rgb(201, 200, 200);
    margin-top:6px;
    padding-left:15px;
    padding-top:3px;
    margin-left:20px;
    width:200px;
}
.categoryTxt{
    font:medium;
    font-size:18px;
    margin-bottom:3px;
}
.categoryDiv{
    display:flex;
    flex-direction:column;
    font:light;
    color:rgb(93, 91, 91);
    gap:2;
}

.categoryText{
    display:flex;
    gap:2;
    

}
.type{
    width:200px;
    margin-left:20px;
    margin-top:20px;
    padding-left:5px;
    padding-top:3px;
    border:1px rgb(201, 200, 200) solid;
    margin-bottom:10px;
}
.typeDiv{
    display:flex;
    flex-direction:column;
    font:light;
    color:rgb(93, 91, 91);
    gap:2;
}
.contentDiv{
 
    flex:1;
}
.sortDiv{
   display:flex;
   justify-content: space-between;
    margin-bottom: 4px;
   margin-left: 963px;
   margin-top:10px;
 
    
}
.sort{
    border:2px solid rgb(158, 158, 159);
    padding-left:5px;
    padding-right:16px;
    height:50px;
    width:200px;
    font-size:16px;
    background-color: #222222;
    color: white;
  
}
.carDiv{
    position:relative;
    padding-top:15px;
    padding-left:34px;
    display:grid;
   grid-template-columns: repeat(3,1fr);
    gap: 16px;
  
    
}
