.searchDiv{
    border-top:1px;
    border-bottom:1px;
    text-align: center;
 
}
.searchBar{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    padding-left:30px;
    padding-top:3px;
    border:1px gray solid;
    margin-top:30px;
    margin-bottom:10px;
    border-radius:20px;
    width:50%;
    height:35px;
    background-color: white;
 

}
.searchBox{
    background-color:inherit;
    flex:1;
    outline:none;
    border:none;
    font-size: 16px;

    
}
.searchIcon{
    width:25px;
    margin-right:10px;
 
 
    
}
.closeIcon{
    display:inline;
    width:25px;
    cursor: pointer;
    margin-left:5px;
    margin-top:10px;
  
}